@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;800;900&display=swap");

// VARIABLES

$ff-condensed: "Barlow Condensed";
$ff-title: "Bellefair";
$ff-normal: "Barlow";

$fs-900: 9.375rem;
$fs-800: 6.25rem;
$fs-700: 3.5rem;
$fs-600: 2rem;
$fs-500: 1.75rem;
$fs-400: 1.125rem;
$ls-500: 0.295rem;
$lh-400: 2;

$right-anim: right-anim 0.5s ease-in-out;
$left-anim: left-anim 0.5s ease-in-out;
$bottom-anim: bottom-anim 0.5s ease-in-out;

$dark: hsl(230 35% 7%);
$dark-grey: rgb(85, 85, 85);
$light: hsl(231 77% 90%);
$light-blue: #d0d6f9;
$white: hsl(0 0% 100%);
$underline: #383b4b;

// ANIMATION
@keyframes linebeat {
    0% {
        transform-origin: center;
        transform: scale(1);
        outline: 10px solid $white;
        outline-offset: -10px;
        opacity: 1;
    }
    80% {
        transform-origin: center;
        outline: 10px solid $white;
        outline-offset: -10px;
        opacity: 1;
    }
    100% {
        transform-origin: center;
        transform: scale(1.3);
        outline: 10px solid $white;
        outline-offset: -10px;
        opacity: 0;
    }
}

@keyframes right-anim {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes left-anim {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes bottom-anim {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

html {
    font-size: 16px;
    color: $white;
    font-family: $ff-normal;
}

// HERO
#hero {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 30px;
    background-image: url(../images/home/background-home-desktop.jpg);
    background-size: cover;
    min-height: 100vh;
    .content {
        max-width: 1200px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin: 10em 50px;
        .text {
            color: $light;
            h2 {
                font-family: $ff-normal;
                text-transform: uppercase;
                letter-spacing: $ls-500;
                font-size: $fs-500;
                line-height: 1;
            }
            h1 {
                font-family: $ff-title;
                font-size: $fs-900;
                letter-spacing: 7px;
                margin: 30px 0 20px 0;
                color: $white;
            }
            p {
                letter-spacing: 1px;
                line-height: 30px;
                text-align: justify;
                font-size: $fs-400;
                max-width: 540px;
            }
        }
        .hero-btn {
            background-color: $white;
            min-width: 250px;
            min-height: 250px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $dark;
            font-size: $fs-600;
            font-family: $ff-title;
            position: relative;
            z-index: 1;
            &:hover {
                &::after {
                    content: "";
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    z-index: -1;
                    animation: 1.6s ease-in-out infinite linebeat;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    z-index: -1;
                    animation: 1.6s ease-in-out 0.8s infinite linebeat;
                }
            }
        }
    }
}
@media screen and (max-width: 1100px) {
    #hero {
        .content {
            .text {
                h1 {
                    font-size: 8rem;
                }
            }
            .hero-btn {
                margin-bottom: -120px;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    #hero {
        justify-content: flex-end;
        padding: 0 10px;
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 0;
            margin-bottom: 50px;
            .text {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h1 {
                    font-size: 8rem;
                }
                p,
                h2 {
                    text-align: center;
                }
            }
            .hero-btn {
                margin-bottom: 0px;
                margin-top: 40px;
                min-width: 200px;
                min-height: 200px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    #hero {
        .content {
            margin-bottom: 20px;
            .text {
                h1 {
                    font-size: 3.5rem;
                }
                h2 {
                    font-size: 1.4rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}

// DESTINATIONS
#destinations {
    background-image: url(../images/destination/background-destination-desktop.jpg);
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 50px;
    .container {
        max-width: 1100px;
        width: 100%;
        margin: auto;
        padding-top: 150px;
        h2 {
            font-size: 28px;
            font-weight: 400;
            font-family: "Barlow Condensed";
            letter-spacing: 4.72px;
            margin: 0 30px 100px 30px;
            text-transform: uppercase;
            span {
                margin-right: 20px;
                font-weight: 600;
                color: $dark-grey;
            }
        }
        .content {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            flex-grow: 1;
            margin: 0 30px;
            .image-anim {
                animation: $left-anim;
            }
            .text {
                max-width: 450px;
                align-self: flex-start;
                .anim {
                    animation: $bottom-anim;
                }
                ul {
                    display: flex;
                    li {
                        font-family: $ff-condensed;
                        text-transform: uppercase;
                        letter-spacing: 2.7px;
                        font-weight: 400;
                        position: relative;
                        margin-right: 35px;
                        cursor: pointer;
                    }
                    .active {
                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -12px;
                            width: 100%;
                            height: 3px;
                            background-color: #fff;
                        }
                    }
                }
                h1 {
                    margin: 50px 0px 23px 0px;
                    font-family: $ff-title;
                    text-transform: uppercase;
                    font-size: 6.25rem;
                }
                .description {
                    font-size: 1.125rem;
                    line-height: 32px;
                    color: $light-blue;
                }
                .underline {
                    height: 1px;
                    width: 100%;
                    margin-top: 60px;
                    margin-bottom: 30px;
                    background-color: $underline;
                }
                .distances {
                    display: flex;
                    & > div:first-child {
                        margin-right: 50px;
                    }
                    &--item {
                        h3 {
                            font-size: 0.875rem;
                            color: $light-blue;
                            letter-spacing: 2.36px;
                            margin-bottom: 10px;
                        }
                        p {
                            text-transform: uppercase;
                            font-size: 1.75rem;
                            font-family: $ff-title;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1050px) {
    #destinations {
        overflow-y: auto;
        .container {
            padding-top: 120px;
            padding-bottom: 30px;
            h2 {
                margin: 0 30px 60px 30px;
                font-size: 1.25rem;
            }
            .content {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img {
                    width: 300px;
                    height: 300px;
                    margin-bottom: 50px;
                }
                .text {
                    align-self: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    max-width: 600px;
                    h1 {
                        font-size: 5rem;
                    }
                    .description {
                        font-size: 1rem;
                    }
                    .distances {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        & > div:first-child {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    #destinations {
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 80px;
            h2 {
                font-size: 1rem;
                margin: 0 0 30px 0;
                text-align: center;
                line-height: 20px;
            }
            .content {
                img {
                    width: 170px;
                    height: 170px;
                }
                .text {
                    ul {
                        font-size: 0.875rem;
                        max-width: 250px;
                        justify-content: space-between;
                        width: 80vw;
                        li {
                            margin: 0;
                        }
                    }
                    h1 {
                        font-size: 3.5rem;
                    }
                    .description {
                        font-size: 0.93rem;
                    }
                    .underline {
                        margin: 30px 0;
                    }
                    .distances {
                        flex-direction: column;
                        & > div:first-child {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

// CREW
#crew {
    background-image: url(../images/crew/background-crew-desktop.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.5;
        z-index: -1;
    }
    .container {
        max-width: 1200px;
        width: 100%;
        padding-top: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        .content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            height: 80vh;
            .anim-image{
                animation: $right-anim;
            }
            .text {
                max-width: 500px;
                height: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                h2 {
                    font-size: 28px;
                    font-weight: 400;
                    font-family: "Barlow Condensed";
                    letter-spacing: 4.72px;
                    text-transform: uppercase;
                    span {
                        margin-right: 20px;
                        font-weight: 600;
                        color: $dark-grey;
                    }
                }
                .anim{
                    animation: $left-anim;
                }
                .info{
                    h2{
                        font-size: 2rem;
                        color: $dark-grey;
                        font-family: $ff-title;
                        letter-spacing: 0px;
                    }
                    h1{
                        font-size: 3.5rem;
                        font-family: $ff-title;
                        text-transform: uppercase;
                        margin: 20px 0;
                    }
                    .description{
                        font-size: 1.125rem;
                        color: #d0d6f993;
                        line-height: 32px;
                    }
                }
                ul {
                    display: flex;
                    margin-bottom: 80px;
                    li {
                        width: 15px;
                        height: 15px;
                        background-color: #979797;
                        border-radius: 100%;
                        margin-right: 15px;
                        cursor: pointer;
                    }
                    .active{
                        background-color: white;
                    }
                }
            }
            img{
                height: 100%;
            }
        }
    }
}
@media screen and (max-height: 800px){
    #crew{
        .container{
            .content{
                width: 90vw;
                .text{
                    margin-right: 150px;
                }
            }
        }
    }
}
